@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);

    --family: 'Kumbh Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark-cyan);
    font-family: var(--family);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 40vw bottom 40vh, left 30vw top 50vh;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    text-align: center;
}
.container__card {
    max-width: 420px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin: 1rem;
}

.content img {
    border-radius: 50%;
    border: 4px solid #fff;
    margin-top: -52px;
    margin-bottom: 20px;
}

.content h2 {
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content h2 span {
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

.content p {
    color: var(--dark-grayish-blue);
    font-size: 14px;
}

.content__stats {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsl(0, 0%, 59%, 0.2);
    padding: 30px 50px;
    margin-top: 1.9rem;
}

.stats__got .got__numb {
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    
}

.attribution {
    position: fixed;
    bottom: 2px;
    font-size: 11px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media only screen and (min-width: 768px) {
    body {
        background-position: right 47vw bottom 50vh, left 47vw top 50vh;
    }
}